@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');


body{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #000;
}
