@charset "utf-8";
@import url('fonts.css');
@import url('slider.css');
@import url('rodape.css');
@import url('paginas.css');

.input-lista-prod-orcamentos {
    width: 32px;
    min-height: 36px !important;
    text-align: center;
    background: #dcdcdc !important;
    color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 13px;
}


.col-xs-4 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

object[type*='application/gas-events'] { display: none; }

*{margin:0;padding:0;text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input{margin:0 auto;padding:0;list-style:none;outline:none;border:none;letter-spacing: 0;}
.top0{margin-top:0px !important;}
.top3{margin-top:3px;}
.top5{margin-top:5px;}
.top7{margin-top:7px;}
.top8{margin-top:8px;}
.top10{margin-top:10px !important;}
.top15{margin-top:15px !important;}
.top20{margin-top:20px !important;}
.top25{margin-top:25px !important;}
.top30{margin-top:30px !important;}
.top35{margin-top:35px !important;}
.top40{margin-top:40px !important;}
.top45{margin-top:45px !important;}
.top50{margin-top:50px !important;}
.top55{margin-top:55px !important;}
.top60{margin-top:60px !important;}
.top65{margin-top:65px !important;}
.top70{margin-top:70px !important;}
.top75{margin-top:75px !important;}
.top80{margin-top:80px !important;}
.top85{margin-top:85px !important;}
.top90{margin-top:90px !important;}
.top100{margin-top:100px !important;}
.top105{margin-top:105px !important;}
.top115{margin-top:115px !important;}
.top120{margin-top:120px !important;}
.top145{margin-top:145px !important;}
.top150{margin-top:150px !important;}
.top170{margin-top:170px !important;}
.top175{margin-top:175px !important;}
.top200{margin-top:200px !important;}
.top220{margin-top:220px !important;}
.top265{margin-top:265px !important;}
.top280{margin-top:280px !important;}
.top195{margin-top:195px !important;}
.top210{margin-top:210px !important;}
.top290{margin-top:290px !important;}
.top350{margin-top:350px !important;}
.top380{margin-top:380px !important;}
.top395{margin-top:395px !important;}
.top450{margin-top:450px !important;}


.bottom5{margin-bottom:5px !important;}
.bottom10{margin-bottom:10px !important;}
.bottom15{margin-bottom:15px !important;}
.bottom20{margin-bottom:20px !important;}
.bottom25{margin-bottom:25px !important;}
.bottom30{margin-bottom:30px !important;}
.bottom35{margin-bottom:35px !important;}
.bottom40{margin-bottom:40px !important;}
.bottom45{margin-bottom:45px !important;}
.bottom50{margin-bottom:50px !important;}
.bottom55{margin-bottom:55px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom60{margin-bottom:60px !important;}
.bottom65{margin-bottom:65px !important;}
.bottom70{margin-bottom:70px !important;}
.bottom75{margin-bottom:75px !important;}
.bottom80{margin-bottom:80px !important;}
.bottom90{margin-bottom:90px !important;}
.bottom100{margin-bottom:100px !important;}
.bottom110{margin-bottom:110px !important;}
.bottom120{margin-bottom:120px !important;}
.bottom135{margin-bottom:135px !important;}
.bottom180{margin-bottom:180px !important;}
.bottom200{margin-bottom:200px !important;}
.bottom220{margin-bottom:220px !important;}
.bottom280{margin-bottom:280px !important;}

.left5{margin-left:5px;}
.left10{margin-left:10px;}
.left15{margin-left:15px;}
.left20{margin-left:20px;}
.left25{margin-left:25px;}
.left30{margin-left:30px;}
.left35{margin-left:35px;}
.left40{margin-left:40px;}
.left45{margin-left:45px;}
.left50{margin-left:50px;}
.left55{margin-left:55px;}
.left60{margin-left:60px;}
.left65{margin-left:65px;}
.left70{margin-left:70px;}
.left75{margin-left:75px;}
.left85{margin-left:85px;}
.left81{margin-left:81px;}
.left90{margin-left:90px;}
.left130{margin-left:130px;}
.left270{margin-left:270px;}
.right5{margin-right:5px;}
.right10{margin-right:10px !important;}
.right15{margin-right:15px;}
.right20{margin-right:20px;}
.right22{margin-right:22px;}
.right25{margin-right:25px;}
.right30{margin-right:30px;}
.right35{margin-right:35px;}
.right40{margin-right:40px;}
.right45{margin-right:45px;}
.right50{margin-right:50px;}
.right55{margin-right:55px;}
.right60{margin-right:60px;}
.right65{margin-right:65px;}
.right70{margin-right:70px;}
.right75{margin-right:75px;}
.right80{margin-right:80px;}
.right90{margin-right:90px;}
.right100{margin-right:100px;}
.right130{margin-right:130px;}

.pt0{padding-top:0px !important;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt45{padding-top:45px;}
.pt50{padding-top:50px;}
.pt60{padding-top:60px;}
.pt80{padding-top:80px;}
.pt100{padding-top:100px;}
.pt300{padding-top:300px;}
.pt330{padding-top:330px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl45{padding-left:45px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl80{padding-left:80px;}
.pl100{padding-left:100px;}
.pl300{padding-left:300px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}
.pr45{padding-right:45px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr80{padding-right:80px;}
.pr100{padding-right:100px;}
.pr300{padding-right:300px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px;}
.pb60{padding-bottom:60px;}
.pb80{padding-bottom:80px;}
.pb100{padding-bottom:100px;}
.pb200{padding-bottom:200px;}
.pb280{padding-bottom:280px;}
.pb300{padding-bottom:300px;}

.pr0{padding-right:0;}
.pr5{padding-right:5px;}
.pl0{padding-left:0;}
.pl5{padding-left:5px;}
.pg20{padding: 20px !important;}
.padding0, .pg0{padding: 0px !important;}

.container{width:1170px !important;}
.input100{width:100% !important;}
.mont{font-family: 'Montserrat', sans-serif;}
.media-left, .media>.pull-left {
    padding-right: 5px;
}

h1{
font-size: 40px;
line-height: 48px;
}

h1 span{

}


h2 {
	font-size: 32px;
	line-height: 38px;
}

h2 span{
 font-size: 35px;
 letter-spacing: -2px;
}


h3{
	font-size: 28px;
	line-height: 33px;
}

h3 span{
font-size: 30px;
font-weight: 900;
color: #287d56;
}

h4 {
	font-size: 24px;
	line-height: 28px;
}

h4 span{
  color: #287d56;
  font-weight: 400;
}

h5{
	font-size: 20px;
  line-height: 24px;
}

h5 span{
  font-size: 17px;
  line-height: 22px;
  color: #010101;
  font-weight: 700;
}

h6{
	font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}

h6 span{

}

.menu_topo li a{
  padding: 10px 7px !important;
  color: #000;
}

.menu_topo li a.active,.menu_topo li a:hover{
  color: #297c55;
  background:#c2c3c1;
}

.breadcrumb {
    background: none;
    padding: 3px 15px;
    margin: 0;
}
.breadcrumb li a,.breadcrumb li.active {
    font-size: 13px;
    color: #fff;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">\00a0";
}
.breadcrumb li a:hover {
    color: #fff009;
}




/*==================================================
* COLOBOX PERSONALIZADO GROUPO4
* ===============================================*/
#cboxContent {background: none !important;}
#cboxMiddleLeft,#cboxMiddleRight,#cboxTopCenter,#cboxBottomLeft,#cboxTopLeft,#cboxTopRight,#cboxBottomCenter,#cboxBottomRight {width: 0 !important;background: none !important;}
#cboxSlideshow {color: #fff !important;}
#cboxPrevious{left: 28px!important;}
#cboxNext{left: 56px!important;}
#cboxCurrent{left: 90px !important;}
#cboxClose{right: 28px !important;}
#cboxSlideshow{right: 60px !important;}
/*==================================================
* COLOBOX PERSONALIZADO GROUPO4
* ===============================================*/

.fundo-form{
	border: 0 !important;
	padding: .5rem 2.06rem;
	background: #f6f6f6 !important;
}

input,
select,
textarea{
	min-height: 42px;
	color:#000;
	border-radius: 0 !important;
	font-size: 20px;
	font-weight: 400;
}

.topo-meu-orcamento {
    background: #fff;
    width: 470px !important;
    margin-left: -173px;
    padding: 15px;
}


.tabela_carrinho table {
    font-size: 15px;
    color: #000;
    font-weight: 400;
}
.tabela_carrinho .table>tbody>tr>td, .tabela_carrinho .table>thead>tr>th {
    vertical-align: middle;
    border-bottom: 1px solid #d41f2b;
     border-top: 0;
    padding: 10px 5px;
}


.fa-times-circle::before {
    color: #ed3237;
}


/*==================================================
* PLACEHOLDER
* ===============================================*/
::-webkit-input-placeholder {
    color      : #000;
}

:-moz-placeholder {
    color      : #000;
}

::-moz-placeholder {
    color      : #000;
}

:-ms-input-placeholder {
    color      : #000;
}
/*==================================================
* PLACEHOLDER
* ===============================================*/
a:hover{
	text-decoration: none !important;
}

.media-left,
.media-right,
.media-body {
	vertical-align: middle !important;
}

.relativo, .relative{
	position: relative;
}

*, ::after, ::before {box-sizing: border-box;}
.ml-auto, .mx-auto {margin-left: auto;}
.mr-auto {margin-right: auto;}
.mr-3, .mx-3 {margin-right: 1rem;}
.ml-3{margin-left: 1rem;}
.ml-1 {margin-left: .25rem;}
.mr-1{margin-right: .25rem;}

.align-self-center {-ms-flex-item-align: center;align-self: center;}
.align-self-start {-ms-flex-item-align: start;align-self: flex-start;}
.align-self-end {-ms-flex-item-align: end;align-self: flex-end;}
.media-body {-ms-flex: 1;flex: 1;}
.p-3 {padding: 1rem;}
.p-1 {padding: .25rem;}

.mt-0, .my-0 {margin-top: 0;}
.mb-0, .my-0 {margin-bottom: 0;}
