/* =======================================================================
efeitos HoverEffectIdeas
======================================================================= */
@import url('set2.css');
/* =======================================================================
efeitos HoverEffectIdeas
======================================================================= */


.lato{	font-family: 'Lato', sans-serif;}
p{
	text-align: justify;
}

p span{

}

.telefone_topo .pull-right {
	float: right !important;
}

.pesquisas_dicas .input_dicas{
	background: #f0f0f0;
	border: 0;
}

.pesquisas_dicas .input-group-addon,.pesquisas_dicas .btn-default{
	border-radius: 0;
	background: #f0f0f0;
	color: #000;
	cursor: pointer;
	padding:11px 16px;
	border:0;

}

.pesquisas_dicas .btn-default:hover{
	background: #005b2a;
	color: #fff;
}

.numero_carinho{
	position: absolute;
	right: 34px;
	top: 8px;
	color: #fff;
}

.bg-topo{
	background: url(../imgs/barra_topo.png)top 105px center no-repeat;
	height: 144px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

.container_fundo_dicas{
	background: url(../imgs/bg_dicas_home.jpg)top center no-repeat;
	min-height: 582px;
}

.bg_barra_produtos{
	background: url(../imgs/barra_produtos_home.png)top center no-repeat;
	min-height: 113px;
}

.container_dicas{
	background: url(../imgs/bg_dicas1.jpg)top center no-repeat;
	min-height: 588px;
}

.container_outros{
	background: url(../imgs/barra_outros.jpg)top 48px center no-repeat;
	min-height: 87px;
}

.container_mapa{
	background: url(../imgs/barra_mapa.png)top 48px center no-repeat;
	min-height: 87px;
}

.container_fundo_empresa{
	background: url(../imgs/bg_empresa_home.jpg)top center no-repeat;
	min-height: 430px;
}

.container_fundo_servicos{
	background: url(../imgs/bg_servicos_home.jpg)top center no-repeat;
	min-height: 379px;
}

.container_fundo_geral{
	background: url(../imgs/bg_servicos_geral.jpg)top center no-repeat;
	min-height: 379px;
}

.bg_dica{
	background: url(../imgs/bg_fundo_dicas.jpg)top center no-repeat;
	min-height: 278px;
}

.bg_dicas{
	background: url(../imgs/bg_fundo_dica.jpg)top center no-repeat;
	min-height: 313px;
}

.bg_fundo_contato{
	background: url(../imgs/fundo_fale.jpg)top center no-repeat;
	min-height: 508px;
}
.bg_fundo_carrinho{
	background: url(../imgs/barra_fale.jpg)top center no-repeat;
	min-height: 508px;
}

.pagamentos{
	background: url(../imgs/pagamentos.jpg)top center no-repeat;
	min-height: 135px;
}

.bg_fundo_autenticacao{
	background: url(../imgs/bg_fundo_autenticacao.jpg)top center no-repeat;
	min-height: 508px;
}

.titulo_home h1,.titulo_home h2 span{
	color: #287d56;
	font-weight: 900;
	letter-spacing: -3px;
}

.titulo_home h4{
	color: #287d56;
	font-weight: 400;
	letter-spacing: -2px;
}


.dicas p{
	font-size: 14px;
	line-height: 24px;
}

.dica_desc{
	overflow: hidden;
	height: 73px;
}

.empresa_desc{
	overflow: hidden;
	max-height: 255px;
}

.dicas h6,.dicas p{
	color: #287d56;
}

.dicas .text-uppercase{
	overflow: hidden;
	height: 19px;
}

.servicos .text-uppercase{
	overflow: hidden;
	height: 40px;
}
.dicas .btn_default,.servicos .btn_default{
	border-radius: 0;
	position: absolute;
	right: 15px;
	top: 158px;
	cursor: pointer;
	letter-spacing: 0;
	font-size: 12px;
}

.dicas .btn_default:hover,.servicos .btn_default:hover{
	background: #226947;
}

.container_fundo_empresa .btn_default{
	border-radius: 0;
	float:  right;
	margin-top: 22px;
}


.container_fundo_empresa p{
	color: #287d56;
	font-size: 18px;
}

.servicos h6{
	color: #fff;
}

.mais_servicos{
	width: 360px;
	height: 227px;
	position:absolute;
	right: 15px;
	cursor: pointer;
	top: 0px;
	opacity: 0;
	text-align: right;
	padding: 167px 20px 0 0;

}

.mais_servicos:hover{
	opacity: 1;
	background-color: rgba(47, 13, 5, 0.2);
	background: rgba(47, 13, 5, 0.2);
	color: rgba(47, 13, 5, 0.2);
}

.lista-produto .grid figure {
	margin: 0px 1%;
	border-bottom: 6px solid #7fb820;
	max-height: 250px;
}

figure.effect-julia:hover {
	background: #2f3238;
}

figure.effect-julia img {
	height: 200px;
}

.lista-produto .grid figure figcaption {
	padding: 4em 0em;
}

.lista-produto figure a, .lista-produto figure a:hover {
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
	border-radius: 0px;
}

.lista-produto .hover i {
	border: 4px solid #fff;
	border-radius: 50%;
	padding: 11px 13px;
	color: #fff;
}

.lista-produto figure.effect-julia p {
	background: none;
	color: #287d56;
	font-size: 16px;
}

.lista-produto h1 {
	font-size: 16px;
	line-height: 18px;
	color: #287d56;
}

.desc_titulo{
	overflow: hidden;
	height: 37px;
}

.btn_mais_prod{
	font-size: 11px;
	color: #fff;
	padding: 6px 19px;
	font-weight: 400;
	background: #b4b7b4;
	border-radius:  0;
}

.btn_mais_prod:hover{
	color: #fff;
	background: #297c55;
}

.btn_mais_carrinho{
	background: #297c55;
}
.btn_mais_carrinho:hover{
	background: #226947;
}

.lista-produto h6{
	color: #297c55;
	font-size: 14px;
}

.nossa-liha-index .list-group-item,.btn_verde{
	background: none;
	border: 0;
	font-size: 16px;
	color: #287d56;
	text-decoration: uppercase;
}

.btn_verde{
	font-weight: 700;
}

.container_outros h4,.container_mapa h4{
	color: #297c55;
	font-weight: 400;
	margin-top: -21px;
}

.container_outros h2 span,.container_mapa h2 span{
	color: #fff;
	font-weight: 400;
}

.bg_dica h5 span{
	color: #fff;
	margin-top: 13px;
}

.bg_dica p,.prod-detalhe p{
	font-weight: 400;
	font-size: 18px;
	color: #287d56;
}

.container_fundo_geral .flexslider{
	background: none;
	border: 0;
	padding: 0;
	margin:0;
}

.container_fundo_geral .flex-direction-nav a {
	top: 37%;
}

.container_fundo_geral .flexslider:hover .flex-direction-nav .flex-next {
	opacity: 0.7;
	right: -3px;
}

.container_fundo_geral .flexslider .slides img {
	padding: 0;
}

.container_fundo_geral .flexslider .slides .thumbnail a:hover img {
	background: #cecece url(../imgs/mais_servicos.png)bottom right no-repeat;
}

.mais_servicos_geral{
	width: 371px;
	height: 234px;
	position:absolute;
	right: 15px;
	cursor: pointer;
	top: 0px;
	opacity: 0;
	text-align: right;
	padding: 167px 20px 0 0;

}

.mais_servicos_geral:hover{
	opacity: 1;
	background-color: rgba(47, 13, 5, 0.2);
	background: rgba(47, 13, 5, 0.2);
	color: rgba(47, 13, 5, 0.2);
}

.mais_servicos_geral img{
	width: 15% !important;
	margin-right: 10px;
}

.titulo_img h5 span{
	color: #fff;
}

.titulo_img .text-uppercase{
	overflow: hidden;
	height: 20px;
}

.bg_dicas p{
	color: #287d56;
	font-size: 18px;
}

.btn_servico{
	color: #fff;
	border-radius: 0;
	font-weight: 400;
	font-size: 12px;
	background: #297c55;
}

.btn_servico:hover,.btn_comprar:hover,.btn_finalizar:hover{
	color: #fff;
	background: #226947;
}

.telefones_fale .media{
	margin: 0;
}

.telefones_fale h5 span{
	font-size: 18px;
	color: #297c55;
	font-weight: 900;
}

.telefones_fale h6 span{
	font-size: 12px;
	color: #414140;
	font-weight: 300;
}

.fundo_empresa{
	background: url(../imgs/bg_fundo_empresa.jpg)top center no-repeat;
	min-height: 492px;
}

.container_onde{
	background: url(../imgs/barra_empresa.jpg)top center no-repeat;
	min-height: 70px;
}

.fundo_empresa h1{
	color: #287d56;
	text-shadow: 0px 3px 4px rgba(150, 150, 150, 0.18);
	font-weight: 900;
}

.fundo_empresa h1:last-child{
	font-weight: 700;
	color: #287d56;
	line-height: 30px;
}

.fundo_empresa p{
	color: #287d56;
	font-size: 18px;
}

.cara{
	position: absolute;
	top: 13px;
	left: 4px;
}

.bg_fundo_produtos{
	background: url(../imgs/bg_fundo_produtos.jpg)top center no-repeat;
	min-height: 660px;
}

.fundo_produto{
	background: url(../imgs/fundo_produto.jpg)top center no-repeat;
	min-height: 450px;
}
.barra_paypal{
	background: url(../imgs/barra_paypal.png)top center no-repeat;
	min-height: 120px;
}

.prod-detalhe h3 span{
	text-shadow: 0px 3px 4px rgba(150, 150, 150, 0.18);
	font-weight: 900;
}

.prod-detalhe h4{
	color:#287d56;
	font-weight: 400;
}

.btn_comprar,.btn_finalizar{
	color: #fff;
	border-radius: 0;
	font-weight: 400;
	font-size: 18px;
	background: #297c55;
	padding: 10px 20px;
}

.btn_finalizar{
	font-size: 14px;
}

.btn_comprar1{
	color: #297c55;
	background: none;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid #297c55;
	border-radius: 0;
}

.btn_continuar{
	border: 1px solid #a29f9f;
	color: #000;
}
.btn_comprar1:hover,.btn_continuar:hover{
	color: #fff;
	background: #297c55;
}

.lista-passos-carrinho .list-group-item,
.lista-passos-carrinho .list-group-item.disabled:hover{
	color: #7b7b7b;
	background: url(../imgs/icon_fundo_menu.png) left center no-repeat;
	font-weight: 900;
	font-size: 18px;
	border-radius: 0px;
	border: none;
	margin-bottom: 10px;
}

.lista-passos-carrinho .list-group-item.active{
	color: #287d56;
	background:url(../imgs/icon_menu_carrinho.png) left center no-repeat;
}

.lista-passos-carrinho .list-group-item.active .fa-shopping-cart,.finalizar{
	color: #fff ;
	border-radius: 50%;
	padding: 3px;
	border: 1px solid #fff;
}

.finalizar{
	position: absolute;
	top:10px;
	left: 10px;
}

.lista-passos-carrinho .list-group-item .fa-shopping-cart,
.lista-passos-carrinho .list-group-item .fa-user,
.lista-passos-carrinho .list-group-item .fa-credit-card,
.lista-passos-carrinho .list-group-item .fa-check,
.lista-passos-carrinho .list-group-item .fa-unlock-alt,
.lista-passos-carrinho .list-group-item .fa-pencil-square-o,
.lista-passos-carrinho .list-group-item .fa-file-text-o{
	color: #fff ;
	padding: 3px;
}



.titulo_carrinho .table>tbody>tr>td{
	vertical-align: middle;
	border: 0;
	border-bottom: 1px solid #287d56;

}

.titulo_carrinho h3{
	color: #287d56;
	font-size: 25px;
	font-weight: 700;
}

.titulo_carrinho h6{
	font-weight: 400;
	font-size: 15px;
}

.topo-meu-orcamento h6 span,.topo-meu-orcamento h4{
	font-weight: 400;
	font-size: 12px ;
}


.lista-passos-carrinho{
	background: #f7f7f7;
}
.btn-cinza {
    background: #E1E1E1;
    color: #000;
    border-radius: 0px;
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 15px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.menu-topo-usuario ul {
    background: #287d56;
}

input[type=checkbox], input[type=radio] {
    margin: -9px 0 0;
  }

	.menu-topo-usuario li a{
	color: #fff;
	}

	.usuario_topo{
		background: #21731B;
		color: #fff;
		text-decoration: capitalize;
		font-size: 15px;
		border-radius: 0;
		width: 100%;
	}
