
	/**
	============================================
	rodape
	============================================
	*/

	.scrollup{width:65px;height:65px;opacity:0.5;position:fixed;bottom:50px;left:30px;display:none;text-indent:-9999px;background:url(../imgs/seta_up.png) no-repeat;z-index:9999;}

.bg-topo-rodape{
	background: #f0f0f0;
}
.menu-rodape li a{
	color: #000;
	background: none;
	padding: 10px 5px !important;
	border: 0;
}

.menu-rodape li a.active,.menu-rodape li a:hover{
	color: #297c55;
	background: none;
}

.menu-rodape .nav-tabs {
    border-bottom: 0;
}

.rodape-baixo{
	background: #297c55;
}

.rodape-baixo h5{
	font-size: 12px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 0px;
}

.btn_default,.btn_default:hover,.btn_default.active{
	background: #297c55;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
	cursor: none;
	letter-spacing: 1px;
}

.bg-topo-rodape h5 span{
	color: #297c55;
	font-weight: 900
}



.bg-topo-rodape h6 span{
	color: #414140;
	font-size: 12px;
	font-weight: 400;
	margin-left: 33px;
}


.bg-topo-rodape p{
	color: #414140;
	font-size: 14px;
	font-weight: 400;
}


.fa-google-plus:before {
    color: #2c2c2c;
}





	/**
	============================================
	rodape
	============================================
	*/
