/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width   :100%;
	height  :543px;
	margin  :0px auto;
	overflow: hidden;
	position: relative;
	margin-top: 0px;
	position: relative;

}

#content_slider {
	width      :1920px;
	height     :543px;
	overflow   :hidden;
	position   :relative;
	margin-left:-960px;
	top        :25px;
	left       :50%;
}



/*arrow personalizados*/
#container_banner .rsArrowLeft {
	display: block;
	width: 32px;
	height: 58px;
	background: url(../imgs/arrow_left.png) center no-repeat;
	z-index: 999;
	top: 280px;
	position: fixed;
	left: 5px;
}


#container_banner .rsArrowRight {
	display: block;
	width: 32px;
	height: 58px;
	background: url(../imgs/arrow_right.png) center no-repeat;
	z-index: 999;
	top: 280px;
	position: fixed;
	right: 5px;
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
