/* =============== EMPRESA =============== */

.localizacao-pagina {
  height: 5.2rem /* 96/16 */;
  padding-top:.44rem /* 7/16 */;
}

.bg-index {
  background: url("./imgs/bg_index.jpg") top 2.69rem /* 43/16 */ center no-repeat;
  width: 100%;
}

.font-index p{
  font-size: 17px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75);
  font-weight: 700;
  color: #fff;
  text-align: center;
}

/* =====================================================  */
/*  MUDA A COR DO BOTAO AO CLICAR PARA ENVIAR A MENSAGEM  */
/* =====================================================  */
button:disabled,
button[disabled]{
  background-color: #64567b;
  color: #fff;
}

.input-form{height: 2.56rem /* 41/16 */; background: #fff;  border: 1px solid #eaeaea;border-top: 1px solid #4d555a; color: #000; padding: 0.13rem 1.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.input-form1{height: 3.19rem; background: #f8f7f7;border: 1px solid #6e6e6c; color: #000; padding: 0.13rem 2.13rem; margin-bottom: 0.5rem /* 8/16 */; margin-top: 0.07rem;}
.campo-textarea{padding-top: 5px;height: 6rem}
.btn_formulario{/*position: absolute;*/bottom: 0;  padding: 10px 16px;border-radius: 0;font-size: .63rem /* 10/16 */;color: #fff;background: #006233;font-weight: 700;cursor: pointer;font-family:"Lato Black";}
.orcamento-input .input-form{ padding: 0.13rem 1.013rem;}
.trabalhe_conosco b{font-size: .88rem; color: #000;}
.trabalhe_conosco .form-control-feedback{position: absolute;color: #000;top: .81rem /* 13/16 */;right: 0.63rem /* 10/16 */;}
.curriculo input{padding-top: 0.88rem;}
.trabalhe_conosco .curriculo b{top: 2px;left: 36px;position: absolute;}
.total-resultado-busca span,.total-resultado-busca h1{font-weight: 700;color: #000;font-size:10px;}

/* CONTATO */
form.amp-form-submit-success [submit-success],
form.amp-form-submit-error [submit-error]{
  margin-top: 0.21rem;
}
form.amp-form-submit-success [submit-success] {
  color: green;
}
form.amp-form-submit-error [submit-error] {
  color: red;
}
form.amp-form-submit-success.hide-inputs > input {
  display: none;
}
/* CONTATO */
.btn_prod_solicitar_orcamento{background: #002953; color: #fff; display: block; width: 100%;}
.btn_prod_ligar{background: #b0001d; color: #fff; display: block; width: 100%;}
.input-lista-prod-orcamentos{background: #dcdcdc;color: #000; width: 1.88rem ; height: 1.88rem ; text-align: center;}

.tabela-orcamento tbody tr td {
  border-top:  0;
  border-bottom: 1px solid #cecece;
  padding: 4px;
  font-size: .63rem;
}

.fa-times-circle:before {
  color: #474747
}

.index-bg-icones {
  height: 100%;
  padding: 10px 10px 5px 5px;
  margin-bottom: 5px;
  background: url("./imgs/bg_menu_home.png")top center;
  width: 100%;
  border: 4px solid #f78436;
  border-radius: 10px;
  text-align: center;
}


.mais_servicos{
  position: absolute;
  bottom: 50px;
  right: 20px;
  width: 23px;
  height: 23px;
}

.desc_servico{
  overflow: hidden;
  height: 30px;
}

.contatos_geral{
  background: #4d4444;
}

.btn_orcamento{
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  background: none;
  border-radius: 0;
  border: 0;
}

.btn_verde{
  background: #006233;
}
.bg_branco{
  background: #fff;
}

.bg_branco_borde{
  border-bottom: 1px solid #fff;
}

.numero{
  color: #006233;
  font-size: 1.06rem /* 17/16 */;
}

.btn_orcamento_servico{
  font-size: 10px;
  color: #fff;
  font-weight: 400;
  border-radius: 0;
  border: 0;
}

.fundo_foto{
  width: 100%;
  height: 43px;
  position: absolute;
  bottom: -9px;
  background: url(../imgs/fundo_foto.png)bottom center no-repeat ;
  z-index: -1;
}

.desc_alt_servico{
  height: 56px;
  overflow: hidden;

}

.desc_alt_servico p{
  line-height: 1.19rem /* 19/16 */;
}

.desc_alt_servico_dentro p{
  line-height: 1.19rem /* 19/16 */;
}

.mais_dicas{
  position: absolute;
  bottom: 50px;
  right: 51px;
  width: 72px;
  height: 17px;
}
.dicas h2{
  font-size: .75rem /* 12/16 */;
}

.dica_dentro p{
  font-size: 12px;
}
.desc_alt_servico h2{
  color: #297c55;
  font-size: 12px;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background: #006233;
    border: 0;
}

.produtos_geral .card {
    border: 0;
}

.produtos_geral .card a amp-img{
    border-bottom:  4px solid #7fb820;
}

.desc_titulo {
    overflow: hidden;
    height: 34px;
}

.btn_mais{
  font-size: 8px;
  color: #fff;
  font-weight: 400;
  background: #b4b7b4;
  border-radius: 0;
  border: 0;
}

.btn_compra{
  background: #297c55;
}

.btn_mais_prod{
  background: #f2f4f2;
  color: #297c55;
  font-weight: 400;
font-size: .81rem /* 13/16 */;
}

.fundo_produto_int{
  background: url(../imgs/fundo_produto_int.png)top center no-repeat;
  width: 100%;
  min-height: 60px;
}

.fundo_produto{
  background: url(../imgs/fundo_produto.png) no-repeat;
  position: absolute;
  bottom: 53px;
  min-height: 70px;
  width: 100%;
  left: -8px;
  padding: 0;
}

.barra_paypal {
    background: #f2f4f2;
    min-height: 30px;
}

.btn_comprar1 {
    color: #297c55;
    background: none;
    font-size: 8px;
    font-weight: 400;
    border: 1px solid #297c55;
    border-radius: 0;
}

.desc_alt_prod{
  height: 49px;
  overflow: hidden;

}

.dicas_dentro p{
  line-height: 1.19rem /* 19/16 */;
}

.select-bairros {
    height: 40px;
    border: 1px solid #000;
    border-radius: 0px;
    font-weight: 440;
    color: #000;
    font-size: 16px;
    background: none;
    width: 100%;
}



.btn_carrinho{
  background: #dddddd;
  font-weight: 400;
  font-size: .63rem /* 10/16 */;
  color: #fff;
  border-radius: .13rem /* 2/16 */;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.btn_carrinho.active{
  background: #006233;
}

.table td h1{
  font-size: .63rem /* 10/16 */;
  color: #000;
  font-weight: 400;
}

.table td span{
  font-size: .5rem /* 8/16 */;
  color: #000;
  font-weight: 400;
  margin-top: -10px;
  vertical-align: bottom;
}

.fundo_contatos{
  background: #efeded;
  min-height: 7.06rem /* 113/16 */;
}

.carrinho_total p,.carrinho_total b{
  font-weight: 900;
}

.carrinho_total h5{
  font-size: .94rem /* 15/16 */;
}

.btn_continue{
  font-size: .69rem /* 11/16 */;
  font-weight: 400;
  color: #000;
  border-radius: 0;
  background: none;
  border: 1px solid #b5b2b2;
}

.alt_formulario{
  margin-top: -26px;
}

.btn1{
  background: #efeded;
}

.categoria .list-group-item,h5 b {
  color: #006233;
}

.categoria .list-group-item.active {
    color: #fff;
}

.usuario_topo {
    background: #21731B;
    color: #fff;
    font-size: 15px;
    border-radius: 0;
    width: 100%;
}

.conteudo{
  color: #000;
}

.desc_servico_dentro h2 {
    color: #297c55;
    font-size: 12px;
}


.border-calcular-taxa-entrega{
  border-bottom: 1px solid #448c69;
  border-top: 1px solid #448c69;
}