.topo{ text-align: center;padding: 8px 0px 0px 0px;}
.topo_home{ text-align: center;padding: 0px 0px 0px 0px;}
.rodape{background: #297c55; background-size: 100%; height: 40px; color: #fff; position: fixed; bottom: 0px;padding: 8px 0px 0px 0px; }

.rodape a{color: #fff; text-decoration: none; font-size: .88rem;font-weight: 700;}
.btn-topo{background: none; color: #000;}

.menu-mobile-principal{background: #006334;}
.separador-rodape{height: 2rem;}
.menu-mobile li{
    background: #202020;
    margin-bottom: 5px;
    padding: 10px;
}
.menu-mobile li a:visited, .menu-mobile li a{color: #fff;font-size: 1rem;}
.bg_topo{background:#ffffff;height: 2.88rem /* 46/16 */;line-height: 4;}



.whatsappFixed{
    position: fixed;
    right: 0px;
    bottom: 50px;
    z-index: 9999;
    width: 50px;
    height: 50px;
  }